# Variaveis de ambiente / segredos
.env
.env.*
!.env.example

# Python
__pycache__/
*.py[cod]
.venv/
venv/
env/
.ipynb_checkpoints/

# Airflow local
airflow/logs/
airflow/config/airflow.cfg

# Sistema
.DS_Store

# venv auxiliar para validar Spark localmente
.venv-spark/
